*{
    margin: 0;
    padding: 0;
}

.top{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* display:flex;
    flex-direction:column;
    justify-content:stretch;
    align-items: center;
    width:1920px;
    height:1080px; */
}

.layout{
    background-color:rgb(22,28,33);
    width:100%;
    height:70px;
    display: flex;
    flex-direction: row;
}

#itemstyle{
    background-color:rgb(22,28,33);
    height: 70px;
}

#logoutstyle{
    font-weight: bold;
    font-size: 25px;
    color: aliceblue;
    transition-duration: 0.2s;
    margin: 0 20px;
}

#logoutstyle:hover{
    color: rgb(255,168,62);
    /* border: 2px solid rgb(255, 138, 22);
    border-radius: 15px; */
}

.layoutc1{

    display: flex;
    flex-grow: 2;

}

.layoutc2{

    display: flex;


}

.mid{
    background-color:rgb(255, 255, 255);
    width:100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.hmid{

    background-color:rgb(255, 255, 255);
    width:100%;
    flex-grow: 0.75;
    display: flex;
    flex-direction: column;


}

.hmid_top{

    display: flex;
    width:100%;
    height:300px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px solid rgb(233, 117, 9);
    


}

#hmid_top{
    padding-left: 20px !important;
    padding-top: 40px;
}

.hmid_top-r{

    flex-grow: 2;



}


.bottom{
    background-color:rgb(22,28,33);
    width:100%;
    height:100px;
}

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    
}
.welcome1{
    font-size:62px;
}
.spanw{
    color:rgb(255, 161, 47);
    font-size:69px;
}

.spanw2{
    color:rgb(255, 161, 47);
    font-size:50px;
}

.signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    font-size:22px;
}

.inup{
    width: 300px;
    height: 50px;
    left: 1263px;
    top: 474px;
    border-radius: 25px;
    padding: 20px;
}

span{
    margin: 15px;
}

#buttondiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0px;
    box-shadow: 0;
}

#buttonbox{
    border-radius: 25px;
}

.c1{
    display: flex;
    justify-content: center;
}

.footer{
    color:#fff;
    font-size: 15px;
    text-align: center;
    width:100%;
    height:100px;
    padding-top: 40px;
    background-color:rgb(22,28,33);
}

#fspan1{
    margin: 0;
    color: white;
}

#fspan2{
    margin: 0;
}

.pagebody{
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}