*{
    margin: 0;
    padding: 0;
}

.layout{
    background-color:#4A4A4A;
    width:100%;
    height:120px;
}

#h1color{
    font-size: 75px;
    margin-bottom: 60px;
}

.pagebody{
    text-align: center;
    display: flex;
    flex-direction: column;min-height: 100vh;
}

.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-grow: 1;
}

.container{
    display: flex;
    justify-content: center;
    border: 0px solid white;
    box-shadow: 0%;
}

#buttondiv{
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 0px;
    border: 0px solid white;
    box-shadow: 0%;
    background: white;   
}

#buttonbox{
    border-radius: 25px;
    margin: 0px 10px;
    padding: 14px 50px;
    color: #ffffff;
}

.footer{
    color:#fff;
    font-size: 15px;
    text-align: center;
    width:100%;
    height:100px;
    padding-top: 40px;
    background-color:rgb(22,28,33);
}

#fspan1{
    margin: 0;
    color: white;
}

#fspan2{
    margin: 0;
}

.top{
    display: flex;
    flex-direction: column;min-height: 100vh;
    /* display:flex;
    flex-direction:column;
    justify-content:stretch;
    align-items: center;
    width:1920px;
    height:1080px; */
}

.layout{
    background-color:rgb(22,28,33);
    width:100%;
    height:70px;
    display: flex;
    flex-direction: row;
}
